.leftArrow__globalContainer,
.rightArrow__globalContainer {
  position       : absolute;
  top            : 50%;
  transform      : translateY(-50%);
  display        : flex;
  justify-content: center;
  align-items    : center;
  width          : 50px;
}



.leftArrow__globalContainer img:focus,
.rightArrow__globalContainer img:focus {
  outline: none;
  background-color: transparent !important;
}

.leftArrow__globalContainer img,
.rightArrow__globalContainer img {
  -webkit-tap-highlight-color: transparent !important;
}

.leftArrow__globalContainer {
  left: -35px;
}

.rightArrow__globalContainer {
  right: -35px;
}

.leftArrow__icon,
.rightArrow__icon {
  width           : 100%;
  cursor          : pointer;
}

@media screen and (max-width: 640px) {
  .leftArrow__globalContainer {
    left: 10px;
  }

  .rightArrow__globalContainer {
    right: 10px;
  }
}
